/* type selectors */

section {
	padding: 20px 0;
}
h1 {
	font-size: 140%;
	
	margin-bottom: 10px;
}
/* the styles for the carousel */
.button_panel	{
	height: 200px;
	padding: 50px 15px;
	float: left;
	
}
.button_panel img {
	width: 25px;
	height: 25px;
}
#display_panel {
	height: 300px;
	width: 950px;/*with of three books*/
	overflow: hidden;/*other books will be hidden*/
	float: left;
	border: 5px solid darkblue;
}
#image_list {
	left: 0px;
	position: relative;   
    width: 1400px; /* list size */
    list-style: none;  
}
#image_list li	{
	float: left;
	width: 150px; /* 9 elements by 100 */
}
#image_list li img	{
	width: 150px; /* size of img element*/
	
}


/* Animated Menu Styles */
<style>
#sse50 
{
    border: solid 1px #370202;
    background:#BD0000 url('../Images/mb50_3_bg.gif') repeat-x;
    padding:0px;/*changing its value will give menu margins to its container*/
    text-align:center;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}
#sses50
{
    margin:0 auto;/*If you don't want the menu center aligned, remove this line and above text-align:center*/
    font-size:0;
}
        
#sses50 ul, #sses50 li
{
    display: inline;
    list-style-type:none;padding:0;margin:0;border:0;background-image:none;
}
        
#sses50 a
{
    text-align: center;
    display: inline-block;
    font: normal 11px Verdana;
    background: #900 url('../Images/mb50_3.gif') no-repeat left top;
    padding: 10px 20px;/*This defines the size of each menu item*/
    color: white;
    text-decoration: none;
}
        
#sses50 a:hover, #sses50 a.current
{
    background-position: 0% -60px;
    color: white;
}
#sses50 a.end
{
    width:2px;
    padding-left:0;padding-right:0;
}
</style>
